div.modal.modal-lg.animate__animated.animate__zoomIn.animate__faster#login-modal
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header.p-2
                div.row
                    div.col-md-6.d-flex.align-items-center.justify-content-center
                        img.my-5(src="images/signup.svg", alt="signup" style="width: 100%")
                    div.col-md-6.d-flex.flex-column.justify-content-center
                        h1.display-4.my-4(style="font-size : 35px") Welcome! 
                        form(style="padding-right: 30px")
                            div.input-group.mb-4
                                input.form-control.px-4.p-2(type="email" name="email"  placeholder="Email id")
                            div.input-group.mb-4
                                input.form-control.px-4.p-2(type="password" name="password" placeholder="Password")
                            div.input-group.mb-4
                                button.btn.p-2.px-3(style="background-color : #377DFF; color: white") Login !
                            p.mb-4 New user?
                                a#signup-request-modal(href="#") Register now!
                                

                
    