div.modal.modal-lg.animate__animated.animate__zoomIn.animate__faster#signup-modal
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header.p-2
                div.row
                    div.col-md-6.d-flex.align-items-center.justify-content-center
                        img(src="images/signup.svg", alt="signup" style="width: 100%")
                    div.col-md-6
                        h1.display-4.my-4(style="font-size : 35px") Register now! 
                        form#signup-form(style="padding-right: 30px")
                            div.input-group.mb-4
                                input.form-control.px-4.p-2(type="text" id="company-name" name="company_name" placeholder="Company Name" required="required")
                            div.input-group.mb-4
                                input.form-control.px-4.p-2(type="email" id="company-email" name="email"  placeholder="Company email" required="required")
                            div.input-group.mb-4
                                input.form-control.px-4.p-2(type="password" id="password" name="password" placeholder="Password" required="required")
                            div.input-group.mb-4
                                input.form-control.px-4.p-2(type="number" id="mobile" name="mobile" placeholder="Mobile" required="required")
                            div.input-group.mb-4
                                button.btn.p-2.px-3(style="background-color : #377DFF; color: white") Signup now!
                            p.mb-4 Already have an account?
                                a#login-request-modal(href="#") Login now